@charset "UTF-08";

.intro {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: auto;
    text-align: center;
    padding: 25px;
}

.intro__destaque {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

    color: var(--destaque);
    margin: auto;
}

.intro__titulo {
    font-size: 24px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.02em;
    text-align: left;

    color: var(--fonte);
    text-align: center;
}

.intro__texto {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;

    color: var(--fonte-itens);
    text-align: center;
}

@media screen and (min-width: 1024px) {

    .intro {
        gap: 24px;
        padding: 90px;
    }

    .intro__titulo {
        font-size: 48px;
    }

    .intro__texto {
        font-size: 20px;
    }
    
}