@charset "UTF-08";

.metricas {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 0px;
    margin: auto;
}

.container {
    display: block;
    margin: auto;
    width: 200px;
    text-align: center;
    padding: 10px;
}

.projeto__titulo,
.colaboradores__titulo,
.downloads__titulo,
.reviews__titulo {
    font-size: 30px;
    font-weight: 600;
    line-height: 72px;
    letter-spacing: -0.02em;
    text-align: center;

    color: var(--destaque);
}

.projeto__subtitulo,
.colaboradores__subtitulo,
.downloads__subtitulo,
.reviews__subtitulo {
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    
    color: var(--fonte);
}

.projeto__texto,
.colaboradores__texto,
.downloads__texto,
.reviews__texto {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: justify;

    color: var(--fonte-itens);
}

@media screen and (min-width: 1024px) {

    .metricas {
        flex-wrap: nowrap;
    }

    .container {
        width: 280px;
    }

    .projeto__titulo,
    .colaboradores__titulo,
    .downloads__titulo,
    .reviews__titulo {
        font-size: 60px;
        text-align: left;
    }

    .projeto__subtitulo,
    .colaboradores__subtitulo,
    .downloads__subtitulo,
    .reviews__subtitulo {
        text-align: left;
        font-size: 18px;
    }
    
    .projeto__texto,
    .colaboradores__texto,
    .downloads__texto,
    .reviews__texto {
        font-size: 16px;
        text-align: left;
    }   

}